<head>

	<title>Gisx</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
	<script src="https://cdn.tailwindcss.com"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


	<link rel="icon" href="/id/img/logo_tr.png">
</head>

<style>

	/* html:not(img, h1){

		filter: invert(95%) hue-rotate(180deg) 

		

	} */

</style>




<html>


<body class="bg-orange-50">


	<div class="login" hx-post="/id/session" hx-trigger="load"></div>

		

	<div class="w-full flex flex-col items-center">


		<div class="w-[90%] flex flex-col items-center">

			
		<h1 class="text-5xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-red-400 to-orange-400 pt-10 ">	
			GISX
		</h1>

		<form class="relative " hx-swap="innerHTML" hx-target=".results" hx-trigger="load, keyup" hx-post="/id/search" onkeydown="return event.key != 'Enter'" >

		<i class="fa fa-search icon absolute top-[50%] left-[2em]"></i>
		<input type="text" name="query" id="query" class="max-w-[300px] md:max-w-[400px] bg-gray-200 p-4 pl-14 outline-none text-2xl font-bold rounded-full mt-4">		



		</form>	
	

		<div class="results font-bold bg-gray-100 rounded-md p-4 drop-shadow-lg w-full max-w-[800px]">

					

		</div>





		</div>

	</div>	


</body>

</html>
